* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(247, 243, 243);
}

@-webkit-keyframes slidedown {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@-moz-keyframes slide {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@-o-keyframes slide {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes slide {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.header-area {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    animation-name: slidedown;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    justify-content: space-between;
    padding: 0 50px;
    position: sticky;
    top: 0;
    width: 100%;

    transition: background 0.5s;
    background-color: white;
    align-items: center;
}

.header-area .logo-left img {
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
    transition: height 0.5s;
}

.header-area ul {
    width: 100px;
    justify-content: space-around;
    list-style: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-right: 50px;
}

.header-area .menu-right .header-item {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 10px;
}

.header-area .menu-right .has-dropdown > span {
    background: orange;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    opacity: 0.7;
}

.header-area .menu-right .has-dropdown > span:hover {
    opacity: 1;
}

.header-area .menu-right .has-dropdown .circle > a {
    text-decoration: none;
    color: white;
}

.header-area .menu-right .header-item > i {
    cursor: pointer;
    opacity: 0.3;
}

.header-area .menu-right .header-item > i:hover {
    cursor: pointer;
    opacity: 0.7;
}

.page {
    display: flex;
    flex-direction: column;
}
.filler {
    height: 50px;
}

.content-area {
    display: grid;
    padding-right: 50px;
    padding-left: 100px;
    margin-right: 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 100px);
}

.BS {
    background-color: white;
    grid-column: 1 / 4;
    grid-row: 1 / 5;

    cursor: pointer;
}

.BS img {
    display: block;
    margin: 0 auto;
}

.BS:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}

.BS:hover .back {
    transform: perspective(600px) rotateY(0);
}

.BS .front,
.BS .back {
    /* width: auto;
    height: auto; */
    overflow: hidden;
    /* position: absolute; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 1s ease;
}

.BS .front {
    transform: perspective(600px) rotateY(0);
}

.BS .front img {
    width: 70%;
    height: auto;
}

.BS .back {
    transform: perspective(600px) rotateY(180deg);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.BS .back button {
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(42, 71, 238);
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.6;
}

.BS .back button:hover {
    opacity: 1;
}

.QA {
    background-color: #0ab329;
    grid-column: 1 / 4;
    grid-row: 5 / 9;
    font-size: 140px;

    text-align: center;
    color: white;
}

.QA p {
    line-height: 2.8;
    display: inline-block;
    vertical-align: middle;
}

.JS {
    background-color: #ffdc67;
    grid-column: 4 / 7;
    grid-row: 1 / 7;

    font-size: 140px;
    text-align: center;
    color: black;

    display: flex;

    align-items: flex-end;
    align-content: end;
    justify-content: flex-end;
}

.JS .JSbox {
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.JAVA {
    background-color: #b20000;
    grid-column: 4 / 7;
    grid-row: 7 / 9;

    font-size: 80px;
    text-align: center;
    color: white;
}

.JAVA p {
    line-height: 2.5;
    display: inline-block;
    vertical-align: middle;
}

.NET {
    background-color: #691f6d;
    grid-column: 7 / 11;
    grid-row: 4 / 9;

    font-size: 150px;
    text-align: center;
    color: white;
}
.NET p {
    line-height: 3.5;
    display: inline-block;
    vertical-align: middle;
}

.php {
    background-color: #98a2cc;
    grid-column: 7 / 13;
    grid-row: 1 / 4;

    font-size: 120px;
    text-align: center;
    color: black;
}

.php p {
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
    font-family: cursive;
}

.Events {
    background-color: lightskyblue;
    grid-column: 11 / 13;
    grid-row: 4 / 6;

    font-size: 26px;
    text-align: center;
    color: white;
}

.Events p {
    line-height: 7;
    display: inline-block;
    vertical-align: middle;
}

.Blog {
    background-color: blue;
    grid-column: 11 / 13;
    grid-row: 6 / 8;

    font-size: 26px;
    text-align: center;
    color: white;
}

.Blog p {
    line-height: 7.5;
    display: inline-block;
    vertical-align: middle;
}

.Contacts {
    background-color: rgb(5, 5, 153);
    grid-column: 11 / 13;
    grid-row: 8 / 9;

    font-size: 26px;
    text-align: center;
    color: white;
}

.Contacts p {
    line-height: 4;
    display: inline-block;
    vertical-align: middle;
}

footer {
    padding: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 100px;
}
